<app-navbar></app-navbar>
<div class="score-container">
  <div class="flex-container">
    <div class="title-container">
      <h1 class="title">Ultimate Snake Game</h1>
      <h3>The Definitive Snake Game Experience</h3>
    </div>
    <div class="score-section">
      <p class="right-align">SCORE: {{score}}</p>
      <p class="right-align">BEST SCORE: {{bestScore}}</p>
    </div>
  </div>
</div>

<div class="snake-container">
  <div class="snake-row" *ngFor="let row of boardArray; let i = index">
    <div class="snake-cell" *ngFor="let cell of row; let j = index" [ngStyle]="{'background-color': colorCell(j, i)}">
      <span></span>
    </div>
  </div>
</div>

<span class='start-btn' *ngIf="visible" (click)="startGame()">START</span>
<span class='start-btn' style=" float: right;" (click)="showSettings()">SETTINGS</span>

<app-starting-menu></app-starting-menu>
<app-settings *ngIf="settingsVisible" (close)="hideSettings()"></app-settings>
<app-errors *ngIf="errorsVisible" [errorMessage]="errorMessage" (close)="hideErrors()"></app-errors>
<app-game-over *ngIf="gameOverVisible" [score]="score" (close)="hideGameOver()"></app-game-over>
<app-pause *ngIf="pauseVisible" (close)="hidePause()"></app-pause>
