<app-navbar></app-navbar>
<div class="score-container">
  <div class="flex-container">
    <div class="title-container">
      <h1 class="title">Ultimate Snake Game</h1>
      <h3>The Definitive Snake Game Experience</h3>
    </div>
    <div class="score-section">
      <p class="right-align">SCORE: {{score}}</p>
      <p class="right-align">BEST SCORE: {{bestScore}}</p>
    </div>
  </div>
</div>

<div class="snake-container">
  <div class="snake-row" *ngFor="let row of boardArray; let i = index">
    <div class="snake-cell" *ngFor="let cell of row; let j = index" [ngClass]="colorCell(j, i)">
      <span></span>
    </div>
  </div>
</div>
<div class="snake-container">
  <span class="restart-button" (click)="startGame()">Restart</span>
</div>



<app-starting-menu (startClicked)="handleStartClicked()" (settingsClicked)="handleSettingsClicked()"></app-starting-menu>
<app-settings *ngIf="settingsVisible" (close)="hideSettings()"></app-settings>
<app-errors *ngIf="errorsVisible" [errorMessage]="errorMessage" (close)="hideErrors()"></app-errors>
<app-game-over *ngIf="gameOverVisible" [score]="score" (close)="hideGameOver()"></app-game-over>
<app-pause *ngIf="pauseVisible" (close)="hidePause()"></app-pause>
