body {
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #32822b;
  font-family: VideoGameFont, serif;
}

.snake-container {
  display: flex;
  justify-content: center;
}

.snake-board {
  display: grid;
  gap: 2px;
  background-color: #ddd;
  padding: 10px;
  border-radius: 5px;
}

.snake-row {
  display: grid;
  grid-template-columns: repeat(auto-fill, 30px);
}

.snake-cell {
  width: 30px;
  height: 30px;
  border: 1px solid #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.snake-cell span {
  font-size: 16px;
}

.invisible {
  visibility: hidden;
}

.my-component {
  font-family: 'VideoGameFont';
}

/* NAVBAR */

.snake-navbar ul li.logout {
  margin-left: auto;
}


.title {
  font-size: 2em;
  font-weight: bold;
  color: #76ff03;
  text-shadow: 2px 2px #000;
  margin: 10px 10px;
}


h3 {
  margin-left: 5px;
}

/* TITLE */
.right-align {
  text-align: right;
  margin-right: 1em;
}

.score-section {
  font-family: "Arcade Interlaced", sans-serif;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 15px 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 1em;
}

.flex-container {
  display: flex;
  align-items: center;
}

.title-container {
  flex-grow: 1;
  margin-right: auto;

}
.class-empty {
  background-color: #a3ffa9;
}

.class-block {
  background-color: black;
}

.class-food {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAMAAAC6V+0/AAAAD1BMVEVHcEyjHBAAAADoPCn///8cxLM9AAAAAXRSTlMAQObYZgAAAFVJREFUeNqNz1EOQBEQQ1E19r/m19JUXubHjSAnJAwHjNajTkX1xgY29yhQbYprsaOyYprXkp6Dlag6GrsaTB3VO4LYFHlnR/W7HTXZ7u832cKhMAt95CQCgwwgxuAAAAAASUVORK5CYII=);
  image-rendering: pixelated;
  background-size: contain;
  filter: drop-shadow(0 0 6px gold);
  background-color: #a3ffa9;
}

.class-snake {
  background-color: #6dbb31;
  position: relative;
}
.class-snake-head {
  background-color: #bb3131;
  position: relative;
}
.class-snake-mouth-open{
  background-color: #3158bb;
  position: relative;
}
.class-snake-tail {
  background-color: #b231bb;
  position: relative;
}

.class-snake:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(ellipse at center, #7ed957 20%, transparent 20%), radial-gradient(ellipse at center, #7ed957 20%, transparent 20%);
  background-position: 0 0, 15px 15px;
  background-size: 30px 30px;
  position: absolute;
  top: 0;
  left: 0;
}


.class-default {
  background-color: #a3ffa9;
}




