<app-navbar></app-navbar>
<div class="retro-container">
  <h1 class="retro-title">Contact Page</h1>
  <form class="retro-form" (ngSubmit)="onSubmit()">
    <label for="name" class="retro-label">Name</label>
    <input type="text" id="name" [(ngModel)]="name" name="name" class="retro-input">

    <label for="email" class="retro-label">Email</label>
    <input type="email" id="email" [(ngModel)]="email" name="email" class="retro-input">

    <label for="message" class="retro-label">Message</label>
    <textarea id="message" [(ngModel)]="message" name="message" class="retro-textarea"></textarea>

    <button type="submit" class="retro-button">Send</button>
  </form>
  <div *ngIf="isSuccess" class="success-message">Email sent successfully.</div>
  <div *ngIf="isError" class="error-message">Error sending email.</div>
</div>
