body{
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #32822b;
}

.snake-container {
  display: flex;
  justify-content: center;
}

.snake-board {
  display: grid;
  gap: 2px;
  background-color: #ddd;
  padding: 10px; /
  border-radius: 5px;
}

.snake-row {
  display: grid;
  grid-template-columns: repeat(auto-fill, 30px);
}

.snake-cell {
  width: 30px;
  height: 30px;
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
}

.snake-cell span {
  font-size: 16px;
}

.invisible {
  visibility: hidden;
}


