/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'VideoGameFont';
  src: url('/assets/PressStart2P-Regular.ttf');
}

@font-face {
  font-family: 'Arcade Interlaced';
  font-style: normal;
  font-weight: normal;
  src: local('Arcade Interlaced'), url('assets/ARCADE_I.woff') format('woff');
}

body {
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: 'Arial', sans-serif;
}

body.login-page {
  background-color: #070b10;
  color: #ffffff;
  display: flex;
}

body.home-page {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAARgAAAEYAQMAAAC9QHvPAAAABlBMVEU+YyFThSxH3YrQAAAAzklEQVR4Ae3ZAQbDQBAF0E8OsEeaq++R5gDLbzDQaQz4qup/1NC3IEl2Motvxon8qPTGhrtXpW1UZsg6NjoTCXDj4tOlsZEZrAPuddq6+rGRGVwk8/ktYyMyw64JG6UZF3LbiAzWGW7ySBuR8aOuN84vpVrBddTGpvd+t4mE2NhE6/0WWZXS2FQuokdvbBzn7zJMnZTGpv4pLTA2wwC1ojQ2fYCqNzaRbYAqNTbzMVd9MyJSYGzGbfI23JAbm3XezrZIAmpjM3Z8emOjj/MC7DVwnN4PbsAAAAAASUVORK5CYII=);
  font-family: VideoGameFont, serif;
}

body.scoreboard-page {
  background-color: #32822b;
  font-family: VideoGameFont, serif;
}
