/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'VideoGameFont';
  src: url('/assets/PressStart2P-Regular.ttf');
}

@font-face {
  font-family: 'Arcade Interlaced';
  font-style: normal;
  font-weight: normal;
  src: local('Arcade Interlaced'), url('assets/ARCADE_I.woff') format('woff');
}

body {
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: 'Arial', sans-serif;
}

body.login-page {
  background-color: #070b10;
  color: #ffffff;
  display: flex;
}

body.home-page {
  background-color: #32822b;
  font-family: VideoGameFont, serif;
}

body.scoreboard-page {
  background-color: #32822b;
  font-family: VideoGameFont, serif;
}
