<div class="login-wrapper">
  <div class="login-container">
    <h2>Log in</h2>
    <form [formGroup]="formLogin" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <input id="email" type="email" formControlName="email" placeholder="Email*" required>
      </div>
      <div class="form-group">
        <input id="password" [type]="hidePassword ? 'password' : 'text'" formControlName="password" placeholder="Enter your password*" required>
        <span class="toggle-password" (click)="togglePasswordVisibility()">👁️</span>
      </div>
      <button type="submit" class="login-btn">Log in</button>
    </form>


    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>
    <div class="divider"></div>
    <div class="alternative-login">
      <p>Have Google or GitHub?</p>
      <button (click)="onGoogleLogin()" class="google-btn">
        <img src="assets/logo_google_g_icon.svg" alt="Google logo">
        <span>Log in with Google</span>
      </button>
      <button class="github-btn">
        <img src="assets/github_logo_icon.png" alt="GitHub logo">
        <span>Log in with GitHub</span>
      </button>
    </div>
    <div class="register-link">
      <span>Don't have an account yet?</span>
      <a (click)="navigateToRegister()">Sign up</a>
    </div>
  </div>
</div>
