#settings-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s ease;
  opacity: 1;
}

#settings-menu.ng-hide {
  opacity: 0;
}

#settings-content {
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  width: 90%;
  transition: transform 0.3s ease, opacity 0.3s ease;
  transform: translateY(0);
  opacity: 1;
}

#settings-content.ng-hide {
  transform: translateY(-20px);
  opacity: 0;
}

#settings-content h2 {
  margin-top: 0;
  color: #333; /* Color del texto */
}

#settings-content label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  color: #555;
}

#settings-content input[type="range"] {
  width: 100%;
  margin-bottom: 20px;
}

#settings-content button {
  background-color: #3eff65; /* Botón azul */
  color: black;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

#settings-content button:hover {
  background-color: #3ea62d;
}



input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  height: 8px;
  background: #ddd;
  border-radius: 5px;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: #129a1c;
  cursor: pointer;
  border-radius: 50%;
  transition: background-color 0.2s ease, transform 0.2s ease;
}

input[type="range"]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #7cff53;
  cursor: pointer;
  border-radius: 50%;
  transition: background-color 0.2s ease, transform 0.2s ease;
}

input[type="range"]:hover::-webkit-slider-thumb {
  background: #067101;
  transform: scale(1.2);
}



