<div id="settings-menu">
  <div id="settings-content">
    <h2>Settings</h2>

    <div class="input-group">
      <label for="board-cols">Board Cols:</label>
      <input type="number" id="board-cols" name="boardCols" min="10" max="30" [(ngModel)]="boardCols" (change)="saveSettings()">
    </div>

    <div class="input-group">
      <label for="board-rows">Board Rows:</label>
      <input type="number" id="board-rows" name="boardRows" min="10" max="30" [(ngModel)]="boardRows" (change)="saveSettings()">
    </div>

    <div class="button-group">
      <button (click)="closeSettings()">Close</button>
    </div>
  </div>
</div>
